body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 300px;
  min-height: 100vh; 
  max-width: 100%;
  max-height: 100%;
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 10px;
}

table {
  border-spacing: 15px; /*spacing between cells*/
}

.Event {
  width: 350px; /*don't think this is doing anything*/
  height: 500px;
  border-radius: 25px;
}
.Event.orange:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 210, 142, 0.5);
}
.Event.yellow:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 247, 139, 0.5); 
}
.Event.green:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(195, 255, 192, 0.5); 
}
.Event.blue:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(183, 223, 255, 0.5); 
}
.Event.pink:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 217, 255, 0.5); 
}

.Event h5 h6{
  overflow-wrap: break-word; /* Allow text to wrap onto the next line */
  word-wrap: break-word; /* For wider browser compatibility */
  max-width: 100%; /* Ensure the text doesn't exceed the container's width */
  line-height: 0px;
  text-align: center;
}

.Event img {
  max-width: 100%; /* Ensures the image fills the container */
  max-height: 100%; /* Ensures the image fills the container */
  width: auto; /* Ensures the image's width is determined by its aspect ratio */
  height: auto; /* Ensures the image's height is determined by its aspect ratio */
}

.my-button {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 7px;
}

.Event.orange .my-button:hover {
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 210, 142, 0.5);
}
.Event.yellow .my-button:hover {
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 247, 139, 0.5); 
}
.Event.green .my-button:hover {
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(195, 255, 192, 0.5); 
}
.Event.blue .my-button:hover {
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(183, 223, 255, 0.5); 
}
.Event.pink .my-button:hover {
  background-color: rgb(0, 0, 0);
  color: #fffefe;
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(255, 217, 255, 0.5); 
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
} 

.yellow {
  background: rgb(255, 234, 165);
} 

.orange {
  background: rgb(248, 203, 164);
} 
