[[extend 'layout.html']]

<div id="app">
  <div class="tweetcontainer">
    <div class="pane wide">
      <section>
        <input
          placeholder="What is happening?!"
          v-model="new_entry.tweet_text"
        />
        <button v-on:click="post_new_entry()">Post a Tweet</button>
      </section>

      <h4>Your Tweet feed:</h4>
      <div class="section" v-for="entry in tweets">
        <div>
          <div style="font-size: large">{{entry.content}}</div>
          <div>Posted on {{entry.created_on}} by {{entry.created_by}}</div>
          <br />
        </div>
      </div>
    </div>

    <div class="pane narrow">
      <h4>These are Tags:</h4>
      <div class="section" v-for="tag in tags">
        <div>
          <h5>{{tag}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- example -->
<!-- https://github.com/ucsc2024-cse183/class_code/blob/main/lectures/week4/apps/reddish2/templates/index.html -->

[[block page_scripts]]
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="[[=URL('static/js/index.js')]]"></script>
[[end]]
